.contact__content {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $white-color;
}

.contact__title {
  width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contact__address {
  width: 140px;
}

.contact__street,
.contact__city {
  margin: 0;
  line-height: 20px;
  font-style: normal;
}

.contact__map-wrapper {
  width: 320px;
  height: 362px;
  background-color: $basic-green-color;
}
