.example {
  padding-top: 25px;
  background: $special-grey-third-color;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $special-grey-third-color 42%, $white-color 42%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $special-grey-third-color 77%, $white-color 77%);
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__stat-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.example__stat-item {
  position: relative;
  margin-bottom: 14px;
  padding: 15px;
  width: 124px;
  height: 56px;
  text-align: center;
  border: 1px solid $special-grey-first-color;
  border-radius: 3px;
}

.example__stat-count {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stat-text {
  position: absolute;
  top: calc(100% - 8px);
  left: 50%;
  transform: translateX(-50%);
  min-width: 87px;
  height: 30px;
  padding: 0 5px;
  background-color: $special-grey-third-color;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost-text,
.example__cost-price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__row {
  text-align: center;
}

.example__result {
  position: relative;
  z-index: 1;
}

.example__result-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 2px solid $icons-color;
  cursor: pointer;
  border-radius: 50%;
  background-color: $white-color;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 4px;
    height: 256px;
    background-color: $icons-color;
    border-radius: 2px;
  }
}
