.header {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 13px 30px 15px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  min-width: 190px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.header__logo-img {
  display: block;
}
